<div class= "container" id="container">
	<div class="logo">
	  	<a href=""><img class="logo_photo" src="./assets/logo.png" alt="Logo"></a>
	</div>

	<div class="menu">
		<a href= "" class="menu-button">Home</a>
		<a routerLink= "/shop" routerLinkActive="active" class="menu-button">Shop</a>
		<a routerLink= "/story/1" routerLinkActive="active" class="menu-button">About Us</a>
		<a routerLink= "/story" routerLinkActive="active" class="menu-button">Story</a>
		<a href= "#contact" class="menu-button">Contact Us</a>
	</div>
</div>