<div class="container">
	<div class="info">	
		<div class="address">
			Office adress : Phong 10.08, chung cu Dong Hai, To Ky,P. Trung My Tay, Q.12, TP.Ho Chi Minh, Viet Nam<br>
			Telephone : 0931027775
		</div>
		<div class="sns">
			<div class="sns_label"> ONLINE STORE</div>
			<div class= "sns_icon">
				<a href= "https://ecooffice.thebase.in/"><img class="base" src="./assets/base-white.png" alt="base" height = "28px"></a>
				<a href= "https://www.facebook.com/Eco-Office-102807678245160"><img class="facebook" src="./assets/facebook-white.png" alt="fb" height = "28px"></a>
				<a href= "https://ecooffice.thebase.in/"><img class="instagram" src="./assets/instagram-white.png" alt="inst" height = "28px"></a>
			</div>	
		</div>
		<div class="subcribe">
			<input type="text" [formControl]="email" class = "subcribe_field" placeholder="Email">
			<div>
				<button class = "subcribe_button">SUBCRIBE</button>
			</div>	
		</div>	
	</div>
	<div class="sign">2021 by ECO Village</div>
</div>
