<div class = "container_homepage-products" id= "container_homepage-products" (resized)="onResized($event)">
  <div class ="introduce_products" >
  	<div class ="bst_title"> Bộ sưu tập #1 - Khởi đầu</div>
  	<div class ="bst_content">Birkin, Lady Dior, Jackie nằm trong danh sách những thiết kế túi xách nổi tiếng nhất được đặt theo tên của những phụ nữ đã góp phần thay đổi diện mạo của toàn bộ ngành công nghiệp thời trang<br></div>
    <div class= "product_button_container">
      <app-button1 [dataApp]="seeproduct" class= "product_button" onclick="location.href='/shop'" ></app-button1>
    </div>
  </div>
  <div class="homepage_collection">
  	<img class="collection" src="/assets/collection.jpg" alt="Collection">
  </div>
  <div class="show_products">
  	<app-product-brief [dataApp]="numproduct" class ="product-brief"></app-product-brief>
  </div>
</div>