.content{
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.title{
	color: #5F5858;
	font-family: "OpenSans-SemiBold";
	font-size: 60px;
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}